<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.G.E</title>
    <link rel="stylesheet" href="static/css/materias.css">  
    <link rel="stylesheet" href="static/js/scripts.js">
    <link rel="icon" href="icono6.png" type="image/png">
</head>
<body>
    <div class="encabezado-superior">
        <h1 class="texto-tachado">
            <img src="icono6.png" alt="Icono" class="logo-cabecera" style="max-width: 3%;">
            INICIO 
        </h1>
        <p class="subtitulo-tachado"></p>
    </div>

    <div class="container">
        <aside class="sidebar">
          

            <div class="botones-container">
                <a href="docentees.html" style="text-decoration: none; display: block;">
                    <button class="boton-nav" id="btnNavi">DOCENTES</button>
                </a>
            </div>
            <div class="botones-container">
                <a href="materias.html" style="text-decoration: none; display: block;">
                    <button class="boton-manual">MATERIAS</button>
                </a>
            </div>
            <div class="botones-container">
                <a href="manual.html" style="text-decoration: none; display: block;">
                    <button class="boton-manual">HORARIOS</button>
                </a>
            </div>
            <div class="botones-container">
                <a href="manual.html" style="text-decoration: none; display: block;">
                    <button class="boton-manual">CONFIGURACIÓN</button>
                </a>
            </div>
        </aside>

        <main class="contenido">
            <div class="contenedor-azul">
                
                <div class="patron-ubic" id="patronTexto"></div>

                <div class="seccion-texto">

                    
                    <!--texto-->


                </div>

            </div> </main>
        </main> </div> <footer class="mi-pie-pagina">
        <p>© 2026 - Módulo 4 - Todos los derechos reservados</p>
    </footer>

</body>
</html>